<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>559708479261-ocq4c3b9m30bl3b53kb7cpj786l7c7dv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.559708479261-ocq4c3b9m30bl3b53kb7cpj786l7c7dv</string>
	<key>API_KEY</key>
	<string>AIzaSyAayYqW3H5Se8aYMdGnYVj97JBB5MtHkDI</string>
	<key>GCM_SENDER_ID</key>
	<string>559708479261</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.giovannarodrigues.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios-13-e0f23</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios-13-e0f23.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:559708479261:ios:9c075c309af564c6ef0bf4</string>
</dict>
</plist>